:root {
    --main-bg-color: #f5f5f4;
    --main-content-color: #da2c2c;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}

.layout a {
    text-decoration:none;
    color: white;
}

.layout li {
    list-style-type: none;
}
.layout ul {
    margin: 0;
    padding: 0;
}

.layout h1, .layout h3, .layout h4 {
    margin: 0;
    font-weight: 400;
}

.layout h2 {
  margin: 30px 0;
  font-size: 35px;
  font-weight: 400;
}


.layout h3 {
  font-size: 25px;
}

.layout h4 {
  font-size: 18px;
}

.layout section {
    display: flex;
}

/* slider */

.layout #slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100vw;
    max-width: 1210px;
    height: 760px;
    background-image: url(./assets/event_image.png);
    background-repeat: no-repeat;
    background-position: -1;
    background-color: var(--main-bg-color);
}

.layout #slider .slider__header {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
}

.layout #slider .slider__logo {
    padding: 30px 20px 15px;
    background-color: var(--main-content-color);
}

.layout #slider .slider__contacts {
    margin-top: 30px;
}

.layout #slider .slider__mail {
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.layout span.slider__text, a.slider__text {
  font-weight: 300;
}
  
.layout .slider__item {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px;
    gap: 25px;
}

.layout .slider__item h1 {
    font-size: 66px;
  }

.layout .slider__content {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 15px;
}

.layout .slider__content a {
    border-bottom: 1px dotted rgb(255, 255, 255, 0.4);
}

.slider__button-block {
    display: flex;
    flex-direction: column;
    width: max-content;
}
.layout .slider__button {
    display: flex;
    padding: 15px 30px;
    gap: 15px;
    border-radius: 40px;
    background-color: var(--main-content-color);
    font-size: 20px;
    margin: 35px 0 15px 0;
    cursor: pointer;
}

.layout .slider__timer {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.502);
    font-weight: 300;
}
  
.layout .slider__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.layout .slider__dot {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.layout .slider__dot_active {
    background-color: white;
}

.layout .slider__pagination img {
    margin: 0 10px;
    cursor: pointer;
}

/* menu */

.layout .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    min-height: 100px;
    margin: 20px;
}

.layout .menu > li {
    font-size: 18px;
    border-bottom: 1px dotted black;
    text-align: center;
    cursor: pointer;
} 

.layout .menu__line{ 
    width: 30px;
    border: 1px solid #cbcbca;
  }

  /* info */

  .layout #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
  }

  .layout .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1210px;
    width: 100%;
  }

  .layout .info__item h4 {
    position: relative;
    width: max-content;
    z-index: 0;
    background-color: aqua;
  }

  .layout .info__item h4::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--main-content-color);
    z-index: -1;
  }

  .layout .info__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    gap: 30px;
  }

  .layout .info__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .layout .info__item ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
  }

  .layout .info__item span, .layout .info__item ul {
    font-size: 15px;
  }

  .layout .info__item_main {
    flex-basis: 55%;
  }
  .layout .info__item_sec {
    flex-basis: 35%;
  }
    
  .layout .info__item ul li {
    list-style-type: disc;
    margin-left: 15px;
  }
  .layout .info__item ul li::marker {
    color: var(--main-content-color);
    font-size: 10px;
  }

  .layout .info__bonuses {
    display: flex;
    margin: 50px 20px 50px 0;
    width: 100%;
    gap: 40px;
  }

  .layout .info__bonuses-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
  }

  
  .layout .info__bonuses-content h3 {
    color: var(--main-content-color);
    margin: 0 0 15px 0;
  }

  .layout .info__bonuses-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .layout .info__bonuses-content li {
    list-style-type: disc;
    margin: 10px 30px 0 0;
    font-size: 15px;
    width: 45%;
    height: max-content;
  }
  
  .layout .info__bonuses-content ul li::marker {
    color: var(--main-content-color);
    font-size: 10px;
  }

  .layout .info__organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-top: 3px solid var(--main-bg-color);
    width: 100%;
    padding: 50px 20px;
    background-image: url(./assets/97_gray_logo.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .layout .info__clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .layout .info__clients img {
    object-fit: contain;
    margin: 10px;
  }

  /* program */

  .layout #program {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  .layout #program table {
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1;
  }
  .layout .program__dash {
    padding: 0 15px;
    color: var(--main-content-color);
  }
  .layout .program__dot {
    width: 12px;
    height: 12px;
    margin: 0 30px;
    background-color: var(--main-content-color);
    border-radius: 50%;
  }
  .layout .program__vline-block {
    height: 1px;
  }

 .layout .program__vline {
    width: 1px;
    height: 20px;
    border-right: 1px solid #d8d8d8;
    margin: auto;
  }

  .layout .program__vline_big {
    width: 1px;
    height: 100%;
    margin: auto;
    border-right: 1px solid #d8d8d8;
  }

  .layout .program__list-item {
    font-size: 15px;
    list-style-type: disc;
    margin: 10px 0 10px 20px;
  }
  .layout .program__list-item::marker {
    color: var(--main-content-color);
    font-size: 10px;
  }
  
  .layout .program__author-block {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #d8d8d8;
    font-size: 15px;
  }
  .layout .program__author-block img {
    border-radius: 50%;
  }
  .layout .program__author {
    color: var(--main-content-color);
  }

  .layout .program__author-block a {
    color: black;
    border-bottom: 1px dotted black;
  }

  /* partners */

  .layout #partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    color: black;
    padding-bottom: 50px;
  }

  .partners__content {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 30px;
  }
  .layout .partners__block {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .layout .partners__title {
    width: 30%;
  }

  .layout .partners__logo-block {
    flex-wrap: wrap;
    display: flex;
    justify-self: center;
    gap: 20px;
  }
  .layout .partners__block img {
    align-self: center;
  }

  .layout .partners__block span {
    font-size: 18px;
    position: relative;
    width: max-content;
    z-index: 0;
  }
  .layout .partners__block span::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--main-content-color);
    z-index: -1;
  }

  /* registration */

  .layout #registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: black;
    padding-bottom: 50px;
  }
  .layout #registration span {
    text-align: center;
    font-size: 18px;
  }
  .layout .registration__text_red {
    color: var(--main-content-color);
  }
  .layout #registration form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 20px 0;
  }
  .layout #registration div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .layout input {
    padding: 10px;
    border: none;
  }

  .layout input::placeholder {
    color: black;
    opacity: 0.5;
  }
  .layout #registration button {
    margin: 20px 0 0 0;
    display: flex;
    align-self: center;
    width: max-content;
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid var(--main-content-color);
    font-size: 20px;
    color: var(--main-content-color);
    cursor: pointer;
  }

  .layout #registration a {
    color: black;
    margin-top: 5px;
    border-bottom: 1px dotted black;
  }